# Intellij IDEA build directory
out/
*.zip

# Automatically download libraries
lib/

# Generated sources
gen/
src/main/java/net/nicoulaj/idea/byteman/lang/lexer/BytemanFlexLexer.java

# Host specific config files
*.iws
*.ipr

# Local stuff
local/
